**/#*#
**/*.git
**/*.swp
**/.config/gtk-3.0/bookmarks
**/.config/mpd/database
**/.config/mpd/log
**/.config/mpd/pid
**/.config/mpd/playlists/**
**/.config/mpd/state
**/.config/mpd/sticker.sql
**/.config/ncmpcpp/error.log
**/.config/ncmpcpp/lyrics
**/.config/newsboat/cache.db
**/.config/newsboat/cache.db.lock
**/.config/newsboat/history.cmdline
**/.config/newsboat/history.search
**/.config/newsboat/queue
**/.config/newsboat/urls
**/.vim/.netrwhist
**/.vim/swap
**/.config/minidlna/cache
**/.config/minidlna/minidlna.log
**/.wallpaper.jpg
*.directory
*.log
*.sql
*.sqlite
*.uuid
**/spotify-tui/.*
**/spotify-tui/client.yml
nvim/.config/nvim/plugged
tags

.php_cs.cache
.vim-bookmarks
nvim/.config/nvim/plugin/packer_compiled.vim
nvim/.config/nvim/plugin/packer_compiled.lua
qutebrowser/.config/qutebrowser/__pycache__
qutebrowser/.config/qutebrowser/bookmarks/urls
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
shell/.local/share/nvim