[submodule "tmux/.tmux/plugins/tmux-copycat"]
  path = tmux/.tmux/plugins/tmux-copycat
  url = https://github.com/tmux-plugins/tmux-copycat.git
  ignore = all
[submodule "neomutt/.config/neomutt/gruvbox"]
  path = neomutt/.config/neomutt/gruvbox
  url = https://git.sthu.org/repos/mutt-gruvbox.git
  ignore = all
[submodule "tmux/.tmux/plugins/tmux-open"]
  path = tmux/.tmux/plugins/tmux-open
  url = https://git::@github.com/tmux-plugins/tmux-open
  ignore = all
[submodule "tmux/.tmux/plugins/tmux-prefix-highlight"]
  path = tmux/.tmux/plugins/tmux-prefix-highlight
  url = https://git::@github.com/tmux-plugins/tmux-prefix-highlight
  ignore = all
[submodule "tmux/.tmux/plugins/tpm"]
  path = tmux/.tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
  ignore = all
[submodule "tmux/.tmux/plugins/tmux-online-status"]
  path = tmux/.tmux/plugins/tmux-online-status
  url = https://git::@github.com/tmux-plugins/tmux-online-status
  ignore = all
[submodule "tmux/.tmux/plugins/tmux-plugin-sysstat"]
  path = tmux/.tmux/plugins/tmux-plugin-sysstat
  url = https://git::@github.com/samoshkin/tmux-plugin-sysstat
  ignore = all
[submodule "tmux/.tmux/plugins/tmux-yank"]
  path = tmux/.tmux/plugins/tmux-yank
  url = https://git::@github.com/tmux-plugins/tmux-yank
  ignore = all
